<div
  class="flex self-stretch flex-col items-start justify-start border border-indigo-50"
  style="background: linear-gradient(178.29deg, #0D6D68 59.99%, #52B949 98.55%);  background-size: 100% 100%; background-repeat: no-repeat; height: 100vh;"
>
  <div class="flex self-stretch items-start justify-start p-2.5 ">
    <div class="flex flex-1 flex-row items-center justify-center p-2.5">
      <img src="/fimgs/452_4938.x1.png" style="margin-right: 10px;"/>
      <div class="text-lg font-bold leading-normal text-white">
        CSR TRACKING
      </div>
    </div>
  </div>
  <div class="flex flex-1 self-stretch flex-col items-start justify-start">
    <div class="w-full p-2.5 mb-2">
      <div class="w-full p-2.5 rounded-md flex flex-row justify-between items-center" style="background: #115E59;">
        <div class="text-white text-sm">{role}</div>
        <img src="/fimgs/483_5894.x1.svg"  />
      </div>
    </div>
    <div class="flex flex-col flex-1 w-full mb-10">
      <div class="flex self-stretch items-center justify-start px-2.5">
        <img src="/fimgs/550_6741.x1.svg" />
        <button class="flex flex-1 space-x-1 items-center justify-start p-2.5" onClick={() => navigate("/admin/csr")}>
          <div class="text-sm leading-tight text-white">
            CSR
          </div>
        </button>
      </div>
      <div class="flex self-stretch items-center justify-start px-2.5">
        <img src="/fimgs/548_4307.x1.svg"/>
        <button class="flex flex-1 space-x-1 items-center justify-start p-2.5" onClick={() => navigate("/admin/summary-report")}>
          <div class="text-sm leading-tight text-white">
            Summary Report
          </div>
        </button>
      </div>
      <div class="flex self-stretch items-center justify-start px-2.5">
        <img src="/fimgs/550_6380.x1.svg"/>
        <button class="flex flex-1 space-x-1 items-center justify-start p-2.5" onClick={() => navigate("/admin/setting-target")}>
          <div class="text-sm leading-tight text-white">
            Setting Target
          </div>
        </button>
      </div>
      <div class="flex flex-1 flex-col" style="width: 16vw;">
        <div class="flex self-stretch flex-col items-start justify-start">
          <button class="flex self-stretch items-start justify-start " onClick={toggleMaster}>
            <div class="flex flex-1 space-x-1 items-center justify-start p-2.5">
              <div class="text-base font-light leading-normal text-gray-300">
                MASTER DATA
              </div>
            </div>
          </button> 
          <div class="flex self-stretch flex-col items-start justify-start transition-height duration-500 ease-in-out overflow-hidden">
            <button class="flex self-stretch flex-col items-center justify-start " onClick={() => navigate("/admin/master-data-kegiatan")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">Kegiatan CSR</div>
              </div>
            </button>
            <button class="flex self-stretch flex-col items-center justify-start  " onClick={() => navigate("/admin/master-data-supplier")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">Supplier</div>
              </div>
            </button>
            <button class="flex self-stretch flex-col items-center justify-start  " onClick={() => navigate("/admin/master-data-area")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">Area Tirta</div>
              </div>
            </button>
            <button class="flex self-stretch flex-col items-center justify-start  " onClick={() => navigate("/admin/master-data-cabang")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">Cabang</div>
              </div>
            </button>
            <button class="flex self-stretch flex-col items-center justify-start  " onClick={() => navigate("/admin/master-data-covered-area")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">Covered Area</div>
              </div>
            </button>
            <button class="flex self-stretch flex-col items-center justify-start  " onClick={() => navigate("/admin/master-data-jenis-bantuan")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">
                  Jenis Bantuan
                </div>
              </div>
            </button>
            <button class="flex self-stretch flex-col items-center justify-start  " onClick={() => navigate("/admin/master-data-instansi-penerima")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">
                  Instansi Penerima
                </div>
              </div>
            </button>
            <button class="flex self-stretch flex-col items-center justify-start  " onClick={() => navigate("/admin/master-data-jenis-instansi")}>
              <div class="flex self-stretch items-center justify-start py-2.5">
                <div class="text-sm leading-tight text-white ml-10">Jenis Instansi</div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>