<>
  <effect
    meta={{
      titleHeader: "-",
      open: false,
    }}
    run={() => {
      if (
        window.user.role === "guest" &&
        window.location.pathname !== "/login"
      ) {
        return (window.location.href = "/login");
      } else if (
        window.user.role !== "guest" &&
        window.location.pathname === "/login"
      ) {
        return (window.location.href = "/");
      }

      const titleHeader = {
        "/admin/csr": "CSR",
        "/admin/summary-report": "Summary Report",
        "/admin/setting-target": "Setting Target",
        "/admin/master-data-kegiatan": "Kegiatan CSR",
        "/admin/master-data-supplier": "Supplier",
        "/admin/master-data-area": "Area Tirta",
        "/admin/master-data-cabang": "Cabang",
        "/admin/master-data-covered-area": "Covered Area",
        "/admin/master-data-jenis-instansi": "Jenis Instansi",
        "/admin/master-data-jenis-bantuan": "Jenis Bantuan",
        "/admin/master-data-instansi-penerima": "Instansi Penerima",
        "/admin/master-data-jenis-instanis": "Jenis Instansi",
      };

      runInAction(() => {
        const f = Object.keys(titleHeader).find(
          (x) => window.location.pathname.indexOf(x) >= 0
        );
        meta.titleHeader = titleHeader[f] || "-";
      });
    }}
  />
  <div class={`bg-white flex flex-1 overflow-hidden`}>
    <div class="flex flex-1 self-stretch items-start justify-start">
      <w-sidebar role={window.user.role} />
      <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white">
        <div class={`flex self-stretch flex-col items-start justify-start`}>
          <w-topbar
            class={`flex flex-1 self-stretch items-center justify-start px-5 bg-green-50 border border-indigo-50`}
            title={meta.titleHeader}
            open={meta.open}
            onClickOpen={() => {
              runInAction(() => {
                meta.open = !meta.open;
              });
            }}
          />
        </div>
        <div
          class={`flex flex-1 self-stretch justify-center`}
          style="height: 100%;"
        >
          {children}
        </div>
      </div>
    </div>
  </div>
</>