<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-1 self-stretch items-start justify-start">
    <w-sidebar
      class={`flex flex-col items-start justify-start border border-indigo-50`}
      style={`background-color: #FBFAFF;background-image: url('/fimgs/bg-67353cee3c039b5eec57bc5d4ea383f836244f06');background-size:100% 100%;background-repeat:no-repeat;`}
    />
    <div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white">
      <div class={`flex self-stretch flex-col items-start justify-start`}>
        <w-topbar
          class={`flex flex-1 self-stretch items-center justify-start px-5 bg-blue-50 border border-indigo-50`}
        />
      </div>
      <div class={`flex flex-1 self-stretch items-center justify-center p-2.5`}>
        <img
          src="/fimgs/597_473839.x1.png"
          class="flex flex-col items-start justify-start bg-white"
          style="width: 559px; height: 244px;"
        />
      </div>
    </div>
  </div>
</>